body {
    
    box-sizing: border-box
}
.navbar {
	max-width: auto;
    height: 50px;
}

.container {
    display: flex;
    flex-direction: row;
    height: 50px;
    justify-content: flex-start;
    justify-content: space-around;
    width: 100%;
}

.title {
    float: left;
    width: 200px;
    padding-inline-start: 40px;
}

h1 {
    color: #F26B10;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    margin: 0px;
    float: left;
}

.regeneres {
    width:200px;
    
}

.hair-font {
    height: 30px;
    width: 200px;
    padding-top: 10px;
}

.ul-div {
    display: flex;
    justify-content: space-around;
    background-color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    background-color: white;
}
  
  li {
    float: right;
    background-color: #DDDCD9;
    margin-left: 10px;

  }
  
  li a {
    display: block;
    color: #F26B10;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
    font: bold;
    font-family: 'Roboto', sans-serif;
    width: 100px;
  }
  
  li a:hover {
    background-color: #F26B10;
    color: #DDDCD9;
  }

.modelimg {
    width: 350px;
    height: 400px;
}

.spread {
    width: 650px;
    height: 400px;
}

.extra {
    width: 350px;
    height: 400px;
}

.card-container {
    display: flex;
    justify-content: center;
}

.card {
    width: 400px;
    height: 300px;
}

.card-one {
    margin-right: 30px;
}

@media only screen and (max-width: 600px) {
      .regeneres {
         display: none;   
      }
      
      .modelimg {
          width: 200px;
          height: 200px;
      }

      .card-container {
          display: flex;
          flex-direction: column;
      }
    }
